Pandas is open source library. It is mainly used for relational or labelled data.

It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library. Pandas is fast and it has high performance & productivity for users.

Advantages 

Fast and efficient for manipulating and analyzing data.

Data from different file objects can be loaded.

Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data.

Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects.

Data set merging and joining.
Flexible reshaping and pivoting of data sets.

Provides time-series functionality.

Powerful group by functionality for performing split-apply-combine operations on data sets.

Pandas generally provide two data structures for manipulating data, They are: 

Series

DataFrame

Series: 

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.).

The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet. 

Labels need not be unique but must be a hashable type. 

The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

Creating a Series

In [1]:
import numpy as np
import pandas as pd

Creating a series from Lists:

In [3]:
name=np.array(['I','N','D','I','A'])
cname=pd.Series(name)
print(cname)

0    I
1    N
2    D
3    I
4    A
dtype: object

DataFrame

Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Pandas DataFrame consists of three principal components, the data, rows, and columns.

Creating a DataFrame

In [5]:
lst=['Maharashtra','Gujrat','Karnataka','Bihar']
df=pd.DataFrame(lst)
df

             0
0  Maharashtra
1       Gujrat
2    Karnataka
3        Bihar

Pandas is used for Data Science:

It is built on the top of the NumPy library which means that a lot of structures of NumPy are used or replicated in Pandas. 

The data produced by Pandas are often used as input for plotting functions of Matplotlib, statistical analysis in SciPy, and machine learning algorithms in Scikit-learn.